@import "../variables.scss";

.root {
  color: red;
  background: url("./pika.png") center / cover;
  box-shadow: $shadow-2dp;
  transition-timing-function: $animation-curve-default;
  transition-duration: $animation-duration-default;
}